#0.google colab (part1):

In [ ]:
print('Hello!')
print("Hello!")
# both are correct

Hello!
Hello!

In [ ]:
#install python packages
!pip install name-packeges

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#Cloning GitHub repository:
#!git clone <GitHub repo url>
#example:
!git clone 'https://github.com/mkava98/MMBERT.git'

Cloning into 'MMBERT'...
remote: Enumerating objects: 5031, done.
remote: Counting objects: 100% (121/121), done.
remote: Compressing objects: 100% (22/22), done.
remote: Total 5031 (delta 104), reused 109 (delta 99), pack-reused 4910
Receiving objects: 100% (5031/5031), 188.68 MiB | 16.12 MiB/s, done.
Resolving deltas: 100% (302/302), done.
Updating files: 100% (4576/4576), done.

In [ ]:
#To download files
#!wget <insert link> -P path
#-p for creat parents path

#example
!wget https://s3-us-west-1.amazonaws.com/udacity-aind/dog-project/dogImages.zip

--2024-02-17 17:46:52--  https://s3-us-west-1.amazonaws.com/udacity-aind/dog-project/dogImages.zip
Resolving s3-us-west-1.amazonaws.com (s3-us-west-1.amazonaws.com)... 52.219.116.64, 52.219.113.136, 52.219.116.120, ...
Connecting to s3-us-west-1.amazonaws.com (s3-us-west-1.amazonaws.com)|52.219.116.64|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1132023110 (1.1G) [application/zip]
Saving to: ‘dogImages.zip’

dogImages.zip       100%[===================>]   1.05G  16.0MB/s    in 68s

2024-02-17 17:48:01 (15.8 MB/s) - ‘dogImages.zip’ saved [1132023110/1132023110]

In [ ]:
#To unzip file
!unzip -q   dogImages.zip  -d  path

In [ ]:
!unzip dogImages.zip

In [ ]:
!rm -r dogImages.zip

In [ ]:
# remove folder
!rm -rf <folder name>

In [ ]:
#create folder
!mkdir name-file

In [ ]:
#change file_name
!mv current_name  New_name

In [ ]:
%cd

/root

In [ ]:
!ls

In [ ]:
#CD into directory:
%cd <folder name>
#to see contents of folder
!ls
#pwd will print the working directory name
!pwd

In [ ]:
#Connect to GDrive:

#Mounting Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
#for download file in google drive (if the file is shared publicly)
!gdown link

In [ ]:
#-q for hide

# Heading1
## Heading2
### Heading3
#### Heading4
##### Heading5
###### Heading6

#google colab (part2) :




```
# This is formatted as code
```




**bold text**

*italicized text*

~didn't work~

~~it's broken~~


---


ordered list:

1.   List item
2.   List item

Unordered list:


*   List item
*   List item
*  



---
link:

[click here to read more](https://)


---
change color:

<font color='green'>text</font>

<font color='red'>text</font>

<font color='pink'>text</font>

<font color='orange'>text</font>


---
highlight:

<mark>very important words</mark>




---



```python
# This is formatted as code
```


```c
# This is formatted as code
```
create tabe:

|name|mark|mark2|
|----|----|----|
|ali|70|20|
|sara|100|60|
|Iman|87|70|

insert image:

![alt text](image.jpg)

example:

![ai pic](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuPx9GVs4z2I06t4xqmWfp7zUbn3pOaDRzebYlR1KaSO_0McGvBivlhyqYzMzIKLuaW4I&usqp=CAU)

Symbols:

$\alpha$

$\phi$

$\gamma$

$β$

$\pi$


[more symbols](https://csrgxtu.github.io/2015/03/20/Writing-Mathematic-Fomulars-in-Markdown/)

#Check device

مشخصات سخت افزاری که در اختیار داریم را میتوانیم مشاهده کنیم

In [ ]:
!nvidia-smi

#let's learn python:


1.   Variables
2.   List
3.   Operation
4.   Comparison Operators
5.   string
6.   dictionary
7.   ...

# 1.Variables

In [ ]:
m = 'hi'
print(m)

hi

In [ ]:
#int
a = 1
print(a)

1

In [ ]:
#float
b = 1.2
print(b)

1.2

In [ ]:
#boolean
c = False #F have to be capital  False
print(c)

False

In [ ]:
c = True #T have to be capital  False
print(c)

True

In [ ]:
#string
d = 'hi'
e = "hi"
print(d)
print(e)
print(d,e,c)

hi
hi
hi hi True

In [ ]:
day, month, year = 9, 8, 2020
print(day)
print(day, month, year)
print('day: ', day,' month: ', month,' year: ', year)

9
9 8 2020
day:  9  month:  8  year:  2020

In [ ]:
#warm up
act1 = 'go'
act2 = 'cry'
print(act1, act2)

go cry

A variable name cannot be any of the **Python keywords**.

Python keywords:

raise, not, import, for, else, continue, and, return, or, in, from, except, def, assert, try, pass, is, global, exec, del, break, while, print, lambda, if, finally, elif, class

---
Invalid variable names:

2name/ 2_name

!name/ @name/ %name/ $name

name Name are diffrent

In [ ]:
for = 4

SyntaxError: invalid syntax (<ipython-input-13-7b12443457ee>, line 1)

In [ ]:
2name = 1

SyntaxError: invalid decimal literal (<ipython-input-12-8487862a988e>, line 1)

In [ ]:
del act1

In [ ]:
a = 2
del a

In [ ]:
print(type(act2))

<class 'str'>

In [ ]:
type(day)

int

In [ ]:
name = 'marzieh' #name is string
print(name)

marzieh

# 2.List

In [ ]:
[]

In [ ]:
cities = ['Tehran', 'Isfahan', 'Kashan', 'Rasht', 'Tabriz']
print(cities)

['Tehran', 'Isfahan', 'Kashan', 'Rasht', 'Tabriz']

In [ ]:
book = ['math', 'history']
print(book)

['math', 'history']

In [ ]:
movies = [1998, 'Extraction', 3.14, 'Fall']
print(movies)

[1998, 'Extraction', 3.14, 'Fall']

In [ ]:
odd = [1, 3 , 5 , 7, 9]
print(odd)

[1, 3, 5, 7, 9]

In [ ]:
#[]
list1 = [1, 2, 3, 4]
print(list1)

[1, 2, 3, 4]

In [ ]:
list2 = ['car', 'cat', 'dog']
print(list2)

['car', 'cat', 'dog']

In [ ]:
list3 = [1, 3.4, True, 'bus']
print(list3)

[1, 3.4, True, 'bus']

In [ ]:
list4 = ['car', 'cat', 'dog',[1, 3.4, True, 'bus']]
print(list4)

['car', 'cat', 'dog', [1, 3.4, True, 'bus']]

In [ ]:
list5 = []
list5 = list()
print(list5)

[]

 **length**: len

In [ ]:
len(list1)

4

In [ ]:
len(list4)

4

In [ ]:
list1.__len__()

4

we can add or remove items in the list

In [ ]:
list1.append(5)
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
list1.extend([6, 7, 8])
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 'car', 'cat', 'dog']

In [ ]:
list1.extend([10])
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 'car', 'cat', 'dog', 10]

In [ ]:
print(list1 + list2)
list6 = list1 + list2
print(list6)

[1, 2, 3, 4, 5, 6, 7, 8, 'car', 'cat', 'dog', 10, 'car', 'cat', 'dog']
[1, 2, 3, 4, 5, 6, 7, 8, 'car', 'cat', 'dog', 10, 'car', 'cat', 'dog']

index

from left:0 /right:-1

In [ ]:
list1[2]

3

In [ ]:
list1[-2]

'dog'

In [ ]:
list1[0:3] #[)

[1, 2, 3]

In [ ]:
list1[1:]

[2, 3, 4, 5, 6, 7, 8, 'car', 'cat', 'dog', 10]

In [ ]:
list1[:3]

[1, 2, 3]

getting index

In [ ]:
color=['black', 'pink', 'blue']

In [ ]:
color.index('pink')

1

In [ ]:
list1.index('car')

NameError: name 'list1' is not defined

In [ ]:
list7 = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5 ,5 ,5, 5]

In [ ]:
list7.count(5)

5

In [ ]:
list7.sort(reverse=True)
print(list7)

[5, 5, 5, 5, 5, 4, 4, 4, 4, 3, 3, 3, 2, 2, 1]

In [ ]:
list7.sort(reverse=False)
print(list7)

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5]

In [ ]:
list8 = ['red', 'green', 'yellow']

In [ ]:
list8.sort()
print(list8)

['green', 'red', 'yellow']

In [ ]:
list8.pop(2)

'yellow'

In [ ]:
print(list8)

['green', 'red']

In [ ]:
list8.clear()

In [ ]:
print(list8)

[]

In [ ]:
color = ['yelloow', 'red']
print(dir(color))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

#**warmup** list


Print the **second** item in the name list.

`name = ["ali", "sara", "asal", "mahdi"]`

In [ ]:
name = ["ali", "sara", "asal"]

print(name[1])

sara

**Change the value** from "sara" to "samin", in the name list.

In [ ]:
name[1]="samin"
print(name)

['ali', 'samin', 'asal']

Use the **append** method to add "mahdi" to the name list.

In [ ]:
name.append("mahdi")
print(name)

Use the **insert** method to add "mahsa" as the second item in the name list.

In [ ]:
name.insert(1,"mahsa")
print(name)

Use the **remove** method to remove "asal" from the name list.

In [ ]:
name.remove("asal")

Use negative indexing to print the last item in the list.

In [ ]:
print(name[-1])

Use a range of indexes to print the third, fourth, and fifth item in the list.
name = ["ali", "sara", "asal", "mahsa", "amin", "zahra", "mohammad",]

In [ ]:
name = ["ali", "sara", "asal", "mahsa", "amin", "zahra", "mohammad",]
print(name[2:5])

['asal', 'mahsa', 'amin']

Use the correct syntax to print the number of items in the list.

In [ ]:
print(len(name))

7

# 3.Operation

1. `() ** ,`

2. `* / %  //,`

3. `+ -`

In [ ]:
a = 2.5
b = 5
a + b
print(a+b)
c = a + b
print(c)

7.5
7.5

In [ ]:
1+9
print(1+9)
a = 2.5
b = 5
a + b
print(a+b)
c = a + b
print(c)
d = b - a
print(d)
e = a * b
print(e)
f = b / 2
print(f)
g = b // a
print('g =',g)
h = b % a
print('h =',h)
print(2 ** 7)
i = a ** b
print(i)

10
7.5
7.5
2.5
12.5
2.5
g = 2.0
h = 0.0
128
97.65625

warmup (operation)

num1 = 12, num2 = 8
تمامی عملگرهایی که
 یاد گرفتید را روی این دو متغیر اعمال کنید

 نتیجه عبارت sum += 5 و sum = sum + 5 یکی هستند

+=

-=

عملگرهای تخصیصی که یاد گرفتید را برای دو متغیر num1 و num2 اعمال کنید. (مثلا از num1 مقدار num2 را کم کنید. یا در num1 مقدار num2 را ضرب کنید.


```
num1 = 23
num2 = 9
num1 **= num2
print(num1)
num1 += num2
print(num1)
num1 -= num2
print(num1)
num1 /= num2
print(num1)
num1 //= num2
print(num1)
num1 %= num2
print(num1)```

In [ ]:
n = 7
b = 2
d = n/b
print(d)

3.5

# 4.Python Comparison Operators

با کمک پایتون مشخص کنید که عدد 25 زوج است یا خیر.



```
print(25%2 == 0)
```

In [ ]:
print(25%2 == 0)

False

In [ ]:
print('a' == 'A')

False

In [ ]:
print(7 == 20)

False

In [ ]:
print(4 == 16/4)

True

He achieved all his dreams و
He achievd all his dreams



```
txt1 = 'He achieved all his dreams'
txt2 = 'He achievd all his dreams'
print(txt1 == txt2)
```

In [ ]:
txt1 = 'He achieved all his dreams'
txt2 = 'He achievd all his dreams'
print(txt1 == txt2)

False

دو لیست (1, 4/2, 6//2) و (1, 2, 3)


```
print([1, 4/2, 6//2] == [1, 2, 3])

```

In [ ]:
print([1, 4/2, 6//2] == [1, 2, 3])

True

In [ ]:
a = 3
a = 3.0

In [ ]:
print(4 != 16/4)
print('a' != 'A')

False
True

In [ ]:
print(13*36 > 10*53)
print('f' > 'g')

False
False

<=

# 5.string


warmup
```
quote1 = 'Live as if you were to die tomorrow.'
quote2 = 'Learn as if you were to live forever.'
```

In [ ]:
quote1 = 'Live as if you were to die tomorrow.'
quote2 = 'Learn as if you were to live forever.'

 Space

  یک کاراکتر به حساب می‌آید

In [ ]:
txt = 'I love Python!'
print(txt[0])
print(txt[1])
print(txt[7:])

I

Python!

In [ ]:
txt[2]

'l'

طول رشته

In [ ]:
print(len(txt))

14

In [ ]:
print(txt.__len__())

14

In [ ]:
txt.__len__()

14

In [ ]:
txt ='  i am student  '

In [ ]:
txt.strip()

'i am student'

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [ ]:
a = "Hello, World!"
print(a.lower())

hello, world!

جدا کردن یک کلمه از یک عبارت تمرین

In [ ]:
print(quote1[15: 19])

were

طول رشته quote1
را محاسبه کنید

In [ ]:
print(quote1.__len__())

36

In [ ]:
txt.count("o")

2

چسباندن رشته‌ها با +

In [ ]:
txt1 = 'Python'
txt2 = 'Course'
print(txt1 + txt2)
print(txt1 + ' ' + txt2)

PythonCourse
Python Course

چسباندن رشته ها با دستور join

In [ ]:
s = ' '
print(s.join([txt1, txt2]))

s = ','
print(s.join([txt1, txt2]))

Python Course
Python,Course

warmup

In [ ]:
print(quote1 + ' ' + quote2)
s = ' '
print(s.join([quote1, quote2]))

Live as if you were to die tomorrow. Learn as if you were to live forever.
Live as if you were to die tomorrow. Learn as if you were to live forever.

In [ ]:
print(txt.find('Python'))

7

warmup

اندیس عبارت live را در متغیر quote2 پیدا کنید.

In [ ]:
print(quote2.find('live'))

24

In [ ]:
age = 26
txt = "My name is Ali, I am " + age
print(txt)

My name is Ali, I am 26

In [ ]:
age = 26
txt = "My name is Ali{},and I am  "
print(txt.format(age))

My name is Ali26,and I am

In [ ]:
age = 26
txt = "My name is Ali,and I am {} "
print(txt.format(age))

My name is Ali26,and I am

replace

In [ ]:
new_txt = txt.replace('I', 'You')
print(new_txt)

You love Python!

عبارت die در quote1 را با Live جایگزین کنید!

In [ ]:
print(quote1.replace('die', 'live'))

Live as if you were to live tomorrow.

In [ ]:
#split
print(txt.split(' '))

['I', 'love', 'Python!']

In [ ]:
print(txt.split('o'))

['I l', 've Pyth', 'n!']

کلمات quote1 را جدا کنید.

In [ ]:
print(quote1.split(' '))

['Live', 'as', 'if', 'you', 'were', 'to', 'die', 'tomorrow.']

# 6.dictionary

Python Collections (Arrays)

There are four collection **data types** in the Python programming language:

**List** is a collection which is ordered and changeable. Allows duplicate members.

**Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.

**Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

**Dictionary** is a collection which is ordered** and changeable. No duplicate members.

unorderd

key:value

{ }

<img src='https://howsam.org/wp-content/uploads/2020/10/dictionary.png' >

Duplicates Not Allowed

```
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)
```

In [ ]:
countries = {
    'Iran': 'Tehran',
    'Canada': 'Ottawa',
    'China': 'Beijing'
}
print(countries)

{'Iran': 'Tehran', 'Canada': 'Ottawa', 'China': 'Beijing'}

In [ ]:
grades = {
    'ali': [83, 91, 67, 83.34],
    'Tom': [89, 59, 64, 70.67],
    'Sara': [53, 90, 61, 68]
}
print(grades)

{'ali': [83, 91, 67, 83.34], 'Tom': [89, 59, 64, 70.67], 'Sara': [53, 90, 61, 68]}

`dict_name[key] = value`

In [ ]:
grades['mina']=[60,70,90,90]

In [ ]:
print(grades)

{'ali': [83, 91, 67, 83.34], 'Tom': [89, 59, 64, 70.67], 'Sara': [53, 90, 61, 68], 'mina': [60, 70, 90, 90]}

In [ ]:
countries['India'] = 'Delhi'
print(countries)

{'Iran': 'Tehran', 'Canada': 'Ottawa', 'China': 'Beijing', 'India': 'Delhi'}

In [ ]:
sara_grades = grades['Sara']
print(sara_grades)

[53, 90, 61, 68]

In [ ]:
grades['jack']

KeyError: 'jack'

In [ ]:
grades['Sara'] = [83, 90, 61, 78]
print(grades)

{'Kate': [83, 91, 67, 83.34], 'Tom': [89, 59, 64, 70.67], 'Sara': [83, 90, 61, 78]}

In [ ]:
print('Jack' in grades)

False

In [ ]:
print(grades)

{'ali': [83, 91, 67, 83.34], 'Tom': [89, 59, 64, 70.67], 'Sara': [53, 90, 61, 68], 'mina': [60, 70, 90, 90]}

In [ ]:
print('Sara' in grades)

True

In [ ]:
grades_keys = grades.keys()
print(grades_keys)

dict_keys(['Kate', 'Tom', 'Sara'])

In [ ]:
print(type(grades_keys))

<class 'dict_keys'>

In [ ]:
list_keys = list(grades_keys)
print(type(list_keys))
print(list_keys)

<class 'list'>
['Kate', 'Tom', 'Sara']

In [ ]:
print(list_keys )

['Kate', 'Tom', 'Sara']

In [ ]:
grades_values = grades.values()
print(grades_values)

dict_values([[83, 91, 67, 83.34], [89, 59, 64, 70.67], [83, 90, 61, 78]])

In [ ]:
list_values = list(grades_values)
print(list_values)

[[83, 91, 67, 83.34], [89, 59, 64, 70.67], [83, 90, 61, 78]]

In [ ]:
grades.pop('Sara')
print(grades)

{'Kate': [83, 91, 67, 83.34], 'Tom': [89, 59, 64, 70.67]}

In [ ]:
grades.clear()
print(grades)

{}

Use the get method to print the value of the "model" key of the car dictionary.

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
print(car["brand"])
print(car["model"])

Ford
Mustang

In [ ]:
car.get("model")

'Mustang'

In [ ]:
#Dictionary Length
print(len(car))

3

The values in dictionary items can be of any data type:

String, int, boolean, and list data types:

In [ ]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [ ]:
x = thisdict.get("model")

In [ ]:
x = thisdict.keys()
print(x)

dict_keys(['brand', 'electric', 'year', 'colors'])

In [ ]:
print(type(thisdict))

<class 'dict'>

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [ ]:
#The dict() Constructor
person = dict(name = "John", age = 36, country = "Norway")
print(person)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [ ]:
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

The del keyword removes the item with the specified key name:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

The del keyword can also delete the dictionary completely:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

#7.Tuples

**Tuple** is a collection which is **ordered** and **unchangeable**. **Allows duplicate members**.

In [ ]:
# @title

#8.Sets

In [ ]:
# @title

#9.conditional

##If

![](https://teachen.info/cspp/_images/ifsyntax.svg)





```
if condition:
    body of if
```
indentation

In [ ]:
condition = []
if condition:
  print("that is true")

that is true

Python Comparison Operators:



```
==	Equal

!=	Not equal

>	Greater than

<	Less than

>=	Greater than or equal to

<=	Less than or equal

is

```

In [ ]:
w = 312
d = 312
if w is d:
  print("d and w are equal")

In [ ]:
print("it's cat")

it's cat

is num even?

In [ ]:
num = 8
if num % 2 == 0:
    print('num is even')

num is even

In [ ]:
num = 3
if num % 2 == 0:
    print('num is even')

In [ ]:
if num % 2 != 0:
    print('num is odd')

num is odd

if else

![](https://www.boardinfinity.com/blog/content/images/2022/12/Your-paragraph-text--77--1.jpg)

In [ ]:
num = 5
if num % 2 == 0:
    print('num is even')
else:
    print('num is odd')

num is odd

In [ ]:
a = 6
b = 3

if a > b:
    print('a is greater than b')
else:
    print('a is less than b')

a is greater than b

In [ ]:
a = 3
b = 3

if a > b:
    print('a is greater than b')
else:
    print('a is less than b')

a is less than b

In [ ]:
a = 3
b = 3

if a > b:
    print('a is greater than b')
elif a < b:
    print('a is less than b')
else:
    print('a is equal to b')

a is equal to b

In [ ]:
name = 'ali'
age = 27

if name == 'ali' or age == 25:
  print("he's a teacher")

he's a teacher

In [ ]:
greeting = 'hello, word!'
for char in greeting:
  print(char)

h
e
l
l
o
,

w
o
r
d
!

In [ ]:
name = 'marzieh'
for char in name:
  print(char)

## range()


```
for i in range(start, stop, step):
  # your code here
  ```

![](https://blog.enterprisedna.co/wp-content/uploads/2023/05/458c44f5-d333-43c7-90f8-8dfe59d6b697.png)

# 10.Loops

## for

In [ ]:
my_list = [1, 2, 3, 4, 5]
for num in my_list:
    print(num)

1
2
3
4
5

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

apple
banana
cherry

 از بین اعداد 1 تا 10، اعداد فرد را در خروجی چاپ کنیم

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in my_list:
    if num % 2 == 1:
        print(num)

1
3
5
7
9

## while



```
while condition:
    # body of while loop
```

In [ ]:
cnt = 1
while cnt <= 5:
    print(cnt)
    cnt += 1

1
2
3
4
5

In [ ]:
num = 4
cnt = num - 1
while cnt > 0:
    num *= cnt
    cnt -= 1
print(num)

24

In [ ]:
# Calculate the sum of numbers until user enters 0
number = int(input('Enter a number: '))

total = 0

# iterate until the user enters 0
while number != 0:
    total += number
    number = int(input('Enter a number: '))

print('The sum is', total)

Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 0
The sum is 9

# 11.function

![](https://howsam.org/wp-content/uploads/2020/10/function-1-300x132.jpg)

def : definition

In [ ]:
def say_hello():
    print('Hi there!')
    print("I'm here")

In [ ]:
say_hello()

Hi there!
I'm here

In [ ]:
def say_hello(name):
    print('Hello'+' '+name )
    print("Lovely to meet u")

In [ ]:
first_name = 'Marzieh'
say_hello(first_name)

Hello Marzieh
Lovely to meet u

In [ ]:
def say_hello(name, age):
    print('Hello'+ ' ' + name + ' ' +'you are' + ' ' + str(age))
    print("I'm here")

In [ ]:
first_name = 'Marzieh'
age = 26
say_hello(first_name, age )

Hello Marzieh you are 26
I'm here

In [ ]:
def add_num(a,b):
    c = a + b
    return c

In [ ]:
num1 = 312
num2 = 4
result = add_num(num1, num2)
result

316

In [ ]:
def sum_list(my_list):
    s = 0
    for x in my_list:
        s = x + s
        # s += x
    return s

In [ ]:
print(sum_list([1, 2, 3]))

6

In [ ]:
def odd_even(num):
    if num % 2 == 0:
        print('Your number is even')
    else:
        print('Your number is odd')

In [ ]:
number = 11
odd_even(number)

Your number is odd

In [ ]:
number = 12
odd_even(number)

Your number is even

# 12.class

Python is an object oriented programming language.

class name
should be

 توصیف کننده عملکرد آن کلاس باشد

قرارداد snake_case

AgeEstimation

In [ ]:
class

In [ ]:
class Player:
    def __init__(self, name, age, nationality, injured):
        self.name = name
        self.age = age
        self.nationality = nationality
        self.injured = injured
    def get_status(self):
        print(self.name +':'+ str(self.age)+'\n injured:'+ str(self.injured))


#from TennisPlayer import Player
player1 = Player('Rafael Nadal ', 37, 'Spanish', False)
player2 = Player('Roger Federer', 42, 'South African', True)

In [ ]:
print(player1.nationality)

Spanish

In [ ]:
print(player1.age)

37

In [ ]:
player1.get_status()
print('------------')
player2.get_status()

Rafael Nadal :37
 injured:False
------------
Roger Federer:42
 injured:True

In [ ]:
class student:
    def __init__(self, first_name, last_name, age, student_id):
      self.first_name = first_name
      self.last_name = last_name
      self.age = age
      self.student_id = student_id

    def print_first_name(self):
        print('my first name is' +' '+ self.first_name)

    def print_last_name(self):
        print('my last name is' + ' '+self.last_name)


    def print_info(self):
        print('I am a student. my name is'+' '+ self.first_name +' '+ self.last_name)

In [ ]:
class teacher:
    def __init__(self, first_name, last_name, age):
      self.first_name = first_name
      self.last_name = last_name
      self.age = age


    def print_first_name(self):
        print('my first name is' +' '+ self.first_name)

    def print_last_name(self):
        print('my last name is' +' '+ self.last_name)


    def print_info(self):
        print('I am a teacher. my name is'+ ' '+self.first_name +' '+ self.last_name)

In [ ]:
student2 = student('dora', 'keshvari', 21, 9850)
student1 = student('sara', 'kashani', 26, 9521)
teacher1 = teacher('ali', 'irani', 45)

In [ ]:
student1.print_first_name()
student1.print_info()
teacher1.print_info()

my first name is sara
I am a student. my name is sara kashani
I am a teacher. my name is ali irani

## inheritance

In [ ]:
class Person:
    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age


    def print_first_name(self):
        print('my first name is' +' '+ self.first_name)

    def print_last_name(self):
        print('my last name is' +' '+ self.last_name)

In [ ]:
class student(Person):

    def print_info(self):
        print('I am a student. my name is'+' '+ self.first_name +' '+ self.last_name)

In [ ]:
class teacher(Person):
    def print_info(self):
        print('I am a teacher. my name is'+ ' '+self.first_name +' '+ self.last_name)

In [ ]:
student1.print_first_name()
student1.print_info()
teacher1.print_info()
student1.age

my first name is sara
I am a student. my name is sara kashani
I am a teacher. my name is ali irani

26

# 13.read/write files

In [ ]:
#name_file = open('path file', 'mode')
# mode:
#'r' read
#'w' write
#'a' append
#'r+' read and write

film = open('/content/film.txt', 'r')
#print(name_file.readline())
print(film.readline())
#print(name_file.readlines())

a

b

In [ ]:
print(film.readline())

c

In [ ]:
#name_file.close()
film.close()

# 14.python package

In [ ]:
#built_in package
#1
import math
#math.
print(math.pi)
print(math.sqrt(16))
#2
import os

#not built_in
import numpy
import pandas

3.141592653589793
4.0

In [ ]:
#version of numpy
!pip show numpy

Name: numpy
Version: 1.25.2
Summary: Fundamental package for array computing in Python
Home-page: https://www.numpy.org
Author: Travis E. Oliphant et al.
Author-email:
License: BSD-3-Clause
Location: /usr/local/lib/python3.10/dist-packages
Requires:
Required-by: albumentations, altair, arviz, astropy, autograd, blis, bokeh, bqplot, chex, cmdstanpy, contourpy, cufflinks, cupy-cuda12x, cvxpy, datascience, db-dtypes, dopamine-rl, ecos, flax, folium, geemap, gensim, gym, h5py, holoviews, hyperopt, ibis-framework, imageio, imbalanced-learn, imgaug, jax, jaxlib, librosa, lightgbm, matplotlib, matplotlib-venn, missingno, mizani, ml-dtypes, mlxtend, moviepy, music21, nibabel, numba, numexpr, opencv-contrib-python, opencv-python, opencv-python-headless, opt-einsum, optax, orbax-checkpoint, osqp, pandas, pandas-gbq, pandas-stubs, patsy, plotnine, prophet, pyarrow, pycocotools, pyerfa, pymc, pytensor, python-louvain, PyWavelets, qdldl, qudida, scikit-image, scikit-learn, scipy, scs, seaborn, shapely, sklearn-pandas, soxr, spacy, stanio, statsmodels, tables, tensorboard, tensorflow, tensorflow-datasets, tensorflow-hub, tensorflow-probability, tensorstore, thinc, tifffile, torchtext, torchvision, transformers, wordcloud, xarray, xarray-einstats, xgboost, yellowbrick, yfinance

In [ ]:
#pip unistall numpy
#!pip install numpy==1.18

In [ ]:
#openCV
import cv2
#!pip install cv2
#it's not correct so search it on google
#pip install opencv-python==3.3.1.11
#https://pypi.org/

## how to install packages?

In [ ]:
#!pip install name_packages

# New Section